<div class="header-info">
	<div class="header-photo">
    <%= gravatar_for current_user, :size => 100 %>
    </div>
    <div class="user_name">
      <h3><%= current_user.name %></h3>
    </div>
</div>
