<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :content, :class => "form" %>
  </div>
  <div class="actions">
    <%= f.submit "Yap", :class => "btn danger" %>
  </div>
<% end %>